<html>
  <head>
    <title>$i18n.getText("reminder.admin.label")</title>
    <meta name="decorator" content="atl.admin" />
    <meta name="admin.active.section" content="admin_plugins_menu/reminder_admin_section"/>
    <meta name="admin.active.tab" content="reminder-admin-link"/>
    <meta name="application-base-url" content="$action.baseUrl">
  </head>
  <body>
    <form action="AdminWebworkModuleAction.jspa" class="aui" id="reminder-admin" method="post">
    	<form action="ReminderWebworkModuleAction.jspa" class="aui" id="reminder-issue" method="post">
        <div class="form-body">
			<div class="hidden">
				<input name="atl_token" type="hidden" value="${action.xsrfToken}">
				<input name="updated" id="updated" type="hidden" value="${action.updated}">
		  	</div>
		  	<fieldset>
		  		#if($action.hasErrorMessages)
                	#foreach ($error in $action.errorMessages)
                		<div class="aui-message error"><span class="aui-icon icon-error"></span>$error</div>
				    #end
    			#end
		  		<div class="field-group">
		  			<label for="interval">$i18n.getText("reminder.admin.interval.label")<span class="aui-icon icon-required"></span></label>
                	<input type="text" id="interval" name="interval" class="text" value="${action.interval}">
                	#if($action.hasErrors && ${action.getErrors().get("interval")})
            			<div class="aui-message error"><span class="aui-icon icon-error"></span>${action.getErrors().get("interval")}</div>
            		#end
                </div>
		  	</fieldset>
		</div>
        <div class="buttons-container form-footer">
            <div class="buttons">
                <input type="submit" value="$i18n.getText("reminder.admin.save.label")" class="button">
            </div>
        </div>
    </form>
  </body>
</html>