#set ($issueLink = "${baseurl}/browse/${issue.getKey()}")

Jira is reminding you of ${issue.getKey()} $issueLink

Issue summary:
${issue.getSummary()}
		       
		           
#if ($reminder && $reminder.getComment())
	Reminder note:
	${reminder.getComment()}					   
#end
