#if($value && ! $value.equals(""))
#set ($displayValue = ${value})
#else
#set ($displayValue = 'N/A')
#end
<a class="issueaction-remind-issue" href="$req.contextPath/secure/ReminderWebworkModuleAction!default.jspa?id=$issue.getId()" title="Email a reminder about this issue"><p class="reminders">$!displayValue</p></a>