#controlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters.noHeader)
#if($value && ! $value.equals(""))
#set ($displayValue = ${value})
#else
#set ($displayValue = 'N/A')
#end
<a class="issueaction-remind-issue" href="$req.contextPath/secure/ReminderWebworkModuleAction!default.jspa?id=$issue.getId()" title="Email a reminder about this issue"><span id="reminders-val" class="value">$!displayValue</span></a>
#controlFooter ($action $fieldLayoutItem.fieldDescription $fieldLayoutItem.required $displayParameters.noHeader)